# Salin file ini menjadi .env.local dan isi dengan credentials Anda
# File .env.local TIDAK akan di-commit ke Git

# Pusher Beams Instance ID (public — aman di frontend)
VITE_PUSHER_INSTANCE_ID=f4ff5c69-2f44-49aa-824d-a26b518ae780

# Pusher Beams Secret Key (RAHASIA — hanya untuk Vercel Function)
# Ambil dari: https://dashboard.pusher.com/beams → Instance → Keys
PUSHER_INSTANCE_ID=f4ff5c69-2f44-49aa-824d-a26b518ae780
PUSHER_SECRET_KEY=15EB83C90E60FC69F627D5FEDD064478929EA1CA5FC4E7714A690A0192BDA334