# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr

# Environment variables — JANGAN commit file ini
.env
.env.local
.env.production
.env.*.local

# Vite
*.local
vite.config.ts.timestamp-*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Kiro internal
.kilo
